*{
    box-sizing: border-box;
}
/* GENERAL */
a{
    text-decoration: none;
}
/* Floating Classes */
.title{
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
}
.title::before, .title::after{
    content: "----------------";
    margin: 50px;
    width: 50%;
}
.bordered{
    border: 1px solid #444;
}
body{

}
/* Header */
header{

}
header .container{
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin-bottom: 15px;
}
header .container .logo{
    background-color: blueviolet;
    flex-basis: 20%;
}
header .container .quick-access{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    background-color: green;
}
header .container .quick-access .top-row{
    flex-basis:;
    background-color: red;
}
header .container .quick-access .top-row span a{

}
nav{
    position: relative;
    z-index: 2;
    background-color: orange;
    display: flex;
    align-items: center;
    height: 50px;
    width: 90%;
    margin: auto;
    margin-top: -40px;
    margin-bottom: -30px;
}
nav .links{
    flex-basis: 80%;
}
nav .links a{
    border-left: 1px solid black;
}
nav .links a:first-child{
    border: none;
}
nav .links a{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 5px;
}
nav .form-group{
    flex-basis: 15%;
}
nav form input{

}

/* Main */
/* Showcase */
/* Acheter un billet class */
.showcase{
    position: relative;
    height: 500px;
    background-color: aqua;
}
.showcase .buy, .citation{
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    width: 30%;
}
.showcase .buy{
    left: 5%;
    height: 60%;
    box-shadow: 1px 1px 3px;
    padding-top: 60px;
    display: flex;

}
.showcase .buy .label{
    position: absolute;
    top: -40px;
    left: 20px;
    background-color: yellow;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;

}
.showcase .buy form{
    display: grid;
    width: 100%;
}
.showcase .buy form .form-group{
    padding: 5px;
}
.showcase .citation{
    right: 10%;
    background-color: pink;
    padding: 5px;
}
/* Section Promotions */
.promotions {
}
.promotions .main-promo{
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto;
}
.promotions .main-promo .text{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto); 
}
.promotions .main-promo .text .label{
    grid-area: 1/1/3/4;
    background-color: beige;
}
.promotions .main-promo .text .pourcentage{
    grid-area: 2/1/4/2;
    font-size: 4em;
}
.promotions .main-promo span:first-child{
    grid-area: 2/2/3/5;
}
.promotions .container{
    display: flex;
    justify-content: space-around;
}
.promo{
    flex-basis: 30%;
    padding: 20px;
    margin: 10px 0;
}
/* Destinations */
.destinations{

}
.destinations .container{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.destinations .destination{
    flex-basis: 30%;
}
/* Newsletter */
.newsletter {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
.newsletter .text{

}
.newsletter form input{
    width: 60%;
}
.newsletter form button{
    width: auto;
    border-radius: 5px;
}