:root{
    --corail:#df6d14;
    --citrouille:#ff8100;
    --rouge:#ef040d;
    --vert:#34c924;
}
/* GENERAL */
*{
    font-family: 'Montserra', sans-serif;
}
body{
    padding: 5px 0;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.links{

}
/* HEADER */
#header ul li{
    display: inline;
}
.header-top li + li:before{
    content: "|";
}
/* NAVBAR */
/* SHOWCASE */
.carousel-container{
    position: relative;
}
/* ACHETER UN BILLET */
.buyticket{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.floater-div{
    border: 1px solid #ccc;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
}
.floater-div .form-group{
    padding: 5px;
}
.floater-div input[type="submit"]{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
/* PROMOTION */
/* DESTIATION */
/* NEWSLETTER */
/* FOOTER */